body {
  margin: 0px 20px;;
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.search-container {
  margin-left: 24px;
  align-self: center;
}

#search-input {
  height: 24px;
  width: 400px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

#search-btn, #load-movies-btn {
  background-color: #202020;
  height: 34px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid white;
  color: #FFFEFE;
  border-radius: 5px;
}

#search-btn {
  padding: 5px 12px;
}

.load-movies {
  margin: 50px 0;
  text-align: center;
}

#load-movies-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  font-size: 20px;
  text-align: center;
}

.movie-card {
  list-style: none;
  margin: 20px 0;
}

.movie-poster {
  height: 513px;
}

.movie-details {
line-height: 0.6;
}

.movie-votes {
  font-size: 1.17em;
}