body {
  margin: 0px 20px;;
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* Header & Navigation */

.header {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 10px auto;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 16px;
}

/* Search Form */

#search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#search-input {
  height: 24px;
  width: 100%;
  max-width: 350px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

#search-form-btn, #search-clear-btn {
  height: 34px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

#search-form-btn {
  background-color: #28a745;
  margin-left: 3px;
}

#search-form-btn:hover {
  cursor: pointer;
  background-color: #176629;
}

#search-clear-btn {
  background-color: #dc3545;
  margin-left: 3px;
}

#search-clear-btn:hover {
  cursor: pointer;
  background-color: #88202a;
}

/* Main Content */

.movies-container {
  max-width: 1200px;
  margin: 0px auto;
}

.movie-list {
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  grid-gap: 20px;
}

.movie-card {
  list-style: none;
  color: #fff;
  text-align: center;
  max-width: 342px;
}

.movie-card:hover {
  cursor: pointer;
}

.movie-card .movie-poster {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease 0s;
}

.movie-card .movie-poster:hover {
  transform: translate3d(0px, -4px, 0px);
  transition-duration: 0.5s;
}

.movie-card .movie-details {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-basis: auto;
  padding: 10px 5px;
  text-align: left;
}

.movie-card .movie-title {
  flex-direction: row;
  font-size: 18px;
  margin: 0;
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.movie-card .movie-votes {
  font-size: 16px;
  white-space: nowrap;
  color: #99999F;
  font-style: normal;
  font-weight: 500;
}

.load-more-movies-container {
  margin: 50px 0;
  text-align: center;
}

#load-more-movies-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background-color: #202020;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 60px;
  color: white;
  font-size: 20px;
}

#load-more-movies-btn:hover {
  cursor: pointer;
  background-color: black;
}

#not-found-msg {
  font-size: 20px;
  margin-top: 40px;
}

.display-none {
  display: none;
}

