body {
  margin: 0px 20px;;
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.search-container {
  padding: 0 16px;
  align-self: center;
}

.search-input {
  height: 24px;
  width: 400px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 8px;
  font-size: 16px;
}

#search-button, #load-movies-button {
  background-color: #202020;
  height: 34px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid white;
  color: #FFFEFE;
  border-radius: 5px;
}

#search-button {
  padding:  5px 12px;
}

#load-movies-button {
  padding:  5px 36px;
}